@*
    Programmer: Nina Hoang
    Class: CIS234A
    Date: 11/14/2019
    Purpose: To create a web gui for user account logout page.
*@


<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url('../../Content/HTML/pawprints.png');
        background-color: peachpuff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        margin: auto;
    }
</style>

<h2>Bye!</h2>
<a href="/Home/Login">Back to Login</a>

