@model Story1.Models.ViewModels.UnsubscribeViewModel
<html>
<head>

</head>
<body>
<form action="/Home/Unsubscribe" method="post">
<h1>Delete an Account</h1>
@Html.ValidationSummary()
<p><a href="/Home/UserAccount">Return to Account Settings</a></p><br />

<fieldset>
    <legend>Account Information</legend>
    <p>
        <span>Account Username:</span>
        <span>@Model.uname</span>
    </p>
    <p><button type="submit" class="deletebtn">Delete Account</button></p>
</fieldset>
</form>
</body>
</html>


